extends layout

block content
  if user
    div(class='row justify-content-center')
      form(class='col-12 col-md-8 col-lg-6 row' method='POST' action='/')
        div(class='mb-3')
          textarea(class='form-control' name='comment' id='comment' placeholder='Write something...' required)
        if errors
          ul(class='mb-3')
            for error in errors
              li(class='text-danger')= error.msg
        div
          button(class='btn btn-success' type='submit') Post
    hr

  div(class='row' data-masonry='{ "percentPosition": true }')
    if comments
      for comment in comments
        div(class='col-sm-6 col-lg-4 mb-4')
          div(class='card position-relative')
            if user && user.rank === 2
              form(action=`/delete/${comment.id}`, method='POST') 
                button(class='btn-close position-absolute top-0 start-100 translate-middle' type='submit')
            div(class='card-body')
              p(class='card-text')= comment.content
              div(class='card-text d-flex justify-content-between')
                small(class='text-muted') Posted #{moment(comment.date).fromNow()}
                if user && user.rank !== 0
                  small(class='text-muted') By #{comment.author.name}
